@import '../../../1-settings/palette';

$palette--primary 				:(
									alpha: 			#6E0981, 	// purple 
									beta: 			blue,		// blue

									grey-med: 		#dcd7d7, 		
								); 

$palette--secondary				:(
									alpha: 			#500c6f, 	// purple 
									beta: 			blue,		// blue

									grey-med: 		#dcd7d7, 		
								); 

$palette--body-bg 				: #fff;
