@mixin font-primary--thin(){
	font-family: $base-font-family;
	font-weight: 100;
}

@mixin font-primary--light(){
	font-family: $base-font-family;
	font-weight: 300;
}

@mixin font-primary--regular(){
	font-family: $base-font-family;
	font-weight: 400;
}

@mixin font-primary--bold(){
	font-family: $base-font-family;
	font-weight: 700;
}

@mixin font-primary--extrabold(){
	font-family: $base-font-family;
	font-weight: 900;
}

@mixin font-secondary--regular(){
	font-family: $base-font-family--secondary;
	font-weight: 400;
}

@mixin font-icon(){
    font-family: $base-font-family--icons;
}
